.logInForm {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(1, 1, 1, 0.3);
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: 8% auto 0;
  border-radius: 5px;
  text-align: center;
}

.logInForm h1 {
  color: #1c59db;
  margin-bottom: 30px;
}

.inputBox {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.primaryButton {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(9, 177, 121);
}

.secondaryButton {
  color: rgb(70, 70, 70);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  width: 80%;
}

.or {
  background-color: #fff;
  width: 30px;
  margin: -15px auto 10px;
}
